# Import packages

In [13]:
import os
import pandas as pd
from src import features
from src import database
import yfinance as yf
from src.extract import from_db
from config import ROOT_DIR

In [14]:
# Example usage
db_file = "/home/hao/repositories/dashboard-listing-securities/app/backend/database.db"
attribute = "isinId"  # For example, if you want to process the 'accountId' attribute
result = from_db.by_attribute(db_file, attribute)
pd.DataFrame(result)

Successfully connected to /home/hao/repositories/dashboard-listing-securities/app/backend/database.db

,date,isin,name,type,quantity,unitPrice,total
0,2023-10-16,LU0131510165,Independance et Expansion France Small A,OPVCM,2.000000,652.06,1304.120000
1,2023-10-16,LU1832174962,Independance et Expansion Europe Small A,OPVCM,15.000000,130.30,1954.500000
2,2023-10-24,LU1832174962,Independance et Expansion Europe Small A,OPVCM,1.000000,126.95,126.950000
3,2023-10-24,LU0131510165,Independance et Expansion France Small A,OPVCM,1.000000,626.81,626.810000
4,2023-11-13,LU1832174962,Independance et Expansion Europe Small A,OPVCM,1.000000,131.87,131.870000
...,...,...,...,...,...,...,...
61,2024-06-03,US0846707026,Berkshire Hathaway Inc.,STOCK,0.793965,377.85,299.999675
62,2024-06-10,US0846707026,Berkshire Hathaway Inc.,STOCK,0.780335,384.45,299.999791
63,2024-06-10,US5705351048,Markel Group Inc.,STOCK,0.101557,1477.00,149.999689
64,2024-06-17,US5705351048,Markel Group Inc.,STOCK,0.104022,1442.00,149.999724
65,2024-06-17,US0846707026,Berkshire Hathaway Inc.,STOCK,0.792602,378.50,299.999857

In [15]:
# Example usage
db_file = "/home/hao/repositories/dashboard-listing-securities/app/backend/database.db"
result = from_db.all_attributes(db_file)
pd.DataFrame(result)

Successfully connected to /home/hao/repositories/dashboard-listing-securities/app/backend/database.db

,date,isin,isin_name,isin_type,broker_name,broker_country,account_number,account_name,order_type,quantity,unitPrice,total
0,2023-10-16,LU0131510165,Independance et Expansion France Small A,OPVCM,BourseDirect,FRANCE,508TI00083440250EUR,PEA,SELL,2.000000,652.06,1304.120000
1,2023-10-16,LU1832174962,Independance et Expansion Europe Small A,OPVCM,BourseDirect,FRANCE,508TI00084026141EUR,PEA-PME,SELL,15.000000,130.30,1954.500000
2,2023-10-24,LU1832174962,Independance et Expansion Europe Small A,OPVCM,BourseDirect,FRANCE,508TI00084026141EUR,PEA-PME,SELL,1.000000,126.95,126.950000
3,2023-10-24,LU0131510165,Independance et Expansion France Small A,OPVCM,BourseDirect,FRANCE,508TI00083440250EUR,PEA,SELL,1.000000,626.81,626.810000
4,2023-11-13,LU1832174962,Independance et Expansion Europe Small A,OPVCM,BourseDirect,FRANCE,508TI00084026141EUR,PEA-PME,SELL,1.000000,131.87,131.870000
...,...,...,...,...,...,...,...,...,...,...,...,...
61,2024-06-03,US0846707026,Berkshire Hathaway Inc.,STOCK,TradeRepublic,GERMANY,0422720001,CTO,SELL,0.793965,377.85,299.999675
62,2024-06-10,US0846707026,Berkshire Hathaway Inc.,STOCK,TradeRepublic,GERMANY,0422720001,CTO,SELL,0.780335,384.45,299.999791
63,2024-06-10,US5705351048,Markel Group Inc.,STOCK,TradeRepublic,GERMANY,0422720001,CTO,SELL,0.101557,1477.00,149.999689
64,2024-06-17,US5705351048,Markel Group Inc.,STOCK,TradeRepublic,GERMANY,0422720001,CTO,SELL,0.104022,1442.00,149.999724
65,2024-06-17,US0846707026,Berkshire Hathaway Inc.,STOCK,TradeRepublic,GERMANY,0422720001,CTO,SELL,0.792602,378.50,299.999857

# Load dataset

In [16]:
# Build the full path to the CSV file
csv_file_path = os.path.join(ROOT_DIR, 'app', 'backend', 'transaction.csv')

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(csv_file_path)

In [5]:
df.head()

   id  isinId  brokerId  accountId        date  orderId  quantity  unitPrice
0   1       1         1          1  2023-10-16        1       2.0     652.06
1   2       3         1          2  2023-10-16        1      15.0     130.30
2   3       3         1          2  2023-10-24        1       1.0     126.95
3   4       1         1          1  2023-10-24        1       1.0     626.81
4   5       3         1          2  2023-11-13        1       1.0     131.87

# Add features

In [6]:
df_features = features.add_column_total(df)
df_features.head()

,id,isinId,brokerId,accountId,date,orderId,quantity,unitPrice,total
0,1,1,1,1,2023-10-16,1,2.0,652.06,1304.12
1,2,3,1,2,2023-10-16,1,15.0,130.30,1954.50
2,3,3,1,2,2023-10-24,1,1.0,126.95,126.95
3,4,1,1,1,2023-10-24,1,1.0,626.81,626.81
4,5,3,1,2,2023-11-13,1,1.0,131.87,131.87

In [7]:
ticker_symbol = 'MKL'  # Replace with the actual ticker symbol corresponding to the ISIN

# Fetching the stock data using yfinance
stock = yf.Ticker('US5705351048')

# Get the current price
current_price = stock.info['previousClose']
current_price

1579.04

# Database

In [8]:
# Create database from csv
database.create_from_csv(
    os.path.join(ROOT_DIR, 'app', 'backend', 'transaction.csv'),
    os.path.join(ROOT_DIR, 'app', 'backend', 'database.db')
)

In [9]:
# List all tables of the database
all_tables = database.list_tables(
    os.path.join(ROOT_DIR, 'app', 'backend', 'database.db')
)
print(all_tables)

['account', 'broker', 'order', 'isin', 'transaction']